<div class="container my-5" >
<h1> Movies</h1>

<table class="table" *ngIf="movies && movies.length > 0" >
    <thead>
        <th> Title</th>
        <th> Genre</th>
        <th> Rating</th>
        <th> ImdbUrl</th>
        <th> ImageUrl</th>
    </thead>

    <tbody>
        <tr *ngFor="let movie of movies ">
            <td>{{movie.Title}}</td>
            <td>{{movie.Genre}} </td>
            <td>{{movie.Rating}} </td>
            <td>{{movie.ImdbUrl}} </td>
            <td>{{movie.ImageUrl}} </td>
        </tr>
    </tbody>
</table>

<p *ngIf="!movies ||movies.length <= 0"> No movies found!</p>
</div>