<div class="container my-5">
    <h1
    class="mb-3">Movies</h1>
    <table class="table" *ngIf="movies && movies.length >0">
    <thead>
        <tr>
            
            <th>Title</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>ImdbUrl</th>
            <th>Poster</th>
            <th> </th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let Movie of movies"> 
                
                <td> {{ Movie.title}}</td>
                <td> {{ Movie.genre}}</td>
                <td> {{ Movie.rating}}</td>
                <td> <a href="{{Movie.imdbUrl}}">{{Movie.title}}</a></td>
                <td><img [src]="Movie.imageUrl" alt="Poster"></td>
                <td> <a class = "btn"[routerLink]="['/movies','edit', Movie.id ]">Edit</a></td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="! movies || movies.length <= 0">No MoviesFound</p> 
    </div>